.actor-photo {

  max-width: 220px;
  max-height: 220px;
  border-radius: 30px;
  border: 1px solid black;
}
.card-actor {
  margin: 20px;
  padding: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  border-color: 2px solid red;
  border-radius: 15px;
  height: 330px;
  width: 200px;
  background-color: #dcdcdc;
  cursor: pointer;
}

.actor-title {
  font-size: 20px;
  font-weight: 700;
}

@media (min-width: 768px) {
  .cardsplay-textarea {
    margin-top: 0px;
    margin-left: 15px;
  }

  .cardsplay-text {
    font-size: 20px;
    margin-left: 15px;
  }
}
