.background-top-voando {
  margin: 0 auto;
  display: flex;
  width: 100%;
  max-width: 1220px;
}
.shape-voando {
  background-color: #424443;
}

.background-voando-2 {
  background-color: #fff;
}
.background-voando-3 {
  background-color: #000;
  color: #fff;
}
.voando-title {
  color: #fff;
  font-size: 25px;
  text-shadow: 1px 4px 4px rgb(14, 14, 14);
}
.background-voando {
  color: #000000;

}

@media (min-width: 768px) {
  .voando-title {
    font-size: 35px;
  }
}

@media (min-width: 1020px) {
  .voando-title {
    font-size: 50px;
  }
}
.custom-shape-divider-top-1725021547 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

