@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap");

:root {
  --arenart-color-bg-primary: #c2c2c2;
  --arenart-color-bg-secondary: #e67926;
  --arenart-color-bg-secondary-hover: #cc6920;
  --arenart-color-bg-tertiary: #002fbb;
  --arenart-color-bg-tertiary-hover: #012181;

  --arenart-color-card-bg: #fff;
  --arenart-color-card-border: #d9d9d9;

  --arenart-color-btn-primary: #3483fa;
  --arenart-color-btn-inverse: #fff;

  --arenart-color-font-primary: #636363;
  --arenart-color-font-secondary: #fff;
  --arenart-color-font-tertiary: #c2c2c2;
  --arenart-color-font-quaternary: #000;
  --arenart-color-font-quintenary: #55bc04;
}

* {
  font-family: "Figtree", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  overflow-x: hidden;
}

.arenart-btn {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  font-weight: 700;
  cursor: pointer;
}
.principal-btn {
  background-color: var(--arenart-color-bg-secondary);
  border-color: #000;
}

.principal-btn:hover {
  background-color: var(--arenart-color-bg-secondary-hover);
  border-color: #000;
}

.principal-btn:active {
  background-color: #943e00;
  border-color: #000;
}

.secondary-btn {
  color: #fff;
  background-color: var(--arenart-color-bg-tertiary);
  border-color: #000;
}

.secondary-btn:hover {
  background-color: var(--arenart-color-bg-tertiary-hover);
  border-color: #000;
}

.secondary-btn:active {
  background-color: #0f0050;
  border-color: #000;
}

.divisor {
  width: 102%;
}
.mt100- {
  margin-top: -100px;
}
.mt90- {
  margin-top: -90px;
}
.mt50- {
  margin-top: -50px;
}
.mt40- {
  margin-top: -40px;
}
.mt20- {
  margin-top: -20px;
}
.mt10- {
  margin-top: -10px;
}
