.body-left-image {
  margin-left: 10px;
  width: 95%;
  border-radius: 10px;
}

.body-text-area {
  font-size: 14px;
  padding: 20px;

  margin-left: 20px;
}

.tags{
    font-size: 14px;
  }
@media (min-width: 768px) {
  .body-text-area {
    margin-top: 50px;
    font-size: 18px;
  }
  .tags{
    font-size: 18px;
  }
}
